<!DOCTYPE html>
<html>

<head>
    <title>Lamar's Chat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous" />
    <style>
        html,
        body {
            height: 100vh;
            width: 100vw;
            overflow: auto;
        }

        .wrapper {
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: column;
            flex-direction: column;
        }

        .chat-container,
        .input-container {
            flex: 1;
        }

        .chat-container {
            height: 90vh;
            order: 1;
            overflow: auto;
            z-index: 1;
        }

        .input-container {
            display: flex;
            flex-direction: row;
            height: 10vh;
            order: 2;
            z-index: 2
        }

        .input-box {
            flex: 1;
        }
    </style>
</head>

<body ng-app="myApp" ng-controller="mainController">
    <div class="wrapper">
        <div class="chat-container">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="message in main.handle.messages track by $index">
                    <div ng-cloak>
                        <strong ng-style="{color:main.handle.colors[message.userName]}">{{message.userName}}</strong> <small class="text-muted">{{ message.timeStamp | date : 'EEE h:mma' }}</small>
                        <br />{{message.content}}
                    </div>
                </li>
            </ul>
        </div>
        <div class="input-container">
            <div class="input-box">
                <input ng-keypress="main.sendMessage($event, main.message)" type="text" class="form-control" id="chatBox" placeholder="Send a Message!" ng-model="main.message" />
            </div>
            <div class="input-send-button">
                <button ng-click="main.sendMessage('clicked',main.message)" type="submit" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script>
        var myApp = angular.module('myApp', [])
            .controller("mainController", function($scope, $timeout, $filter) {
                //the main controller that will handle chatting
                $scope.main = this;
                this.userName = "unknown";
                this.handle = {
                    messages: [],
                    colors: {}
                };
                //Socket listeners
                this.socket = io();

                //when someone new connects, give them the current chat log
                this.socket.on("connection", (data) => {
                    $scope.$apply(() => {
                        this.handle.messages = data;
                    });

                    //user is completely new to application give each username in the chat a new color
                    this.generateColorObject();
                });

                //When message received from server, push it to the current chat log
                this.socket.on('logged in', (userName) => {
                    $scope.$apply(() => {
                        this.userName = userName;
                        this.handle.colors[this.userName] = 'black';
                    });
                    this.setScrollBar();
                });

                //When message received from server, push it to the current chat log
                this.socket.on('message received', (message) => {
                    //just for speeds sake, if the username exists in the color object, lets not generate a  new color for them.
                    if (!this.existsInColorObject(message.userName)) {
                        this.generateColorObject();
                    }

                    $scope.$apply(() => {
                        this.handle.messages.push(message);
                    });

                    this.setScrollBar();
                });
                //End of socket listeners

                //Sends the message to the server
                this.sendMessage = (keyEvent, text) => {
                    if (keyEvent.which === 13 || keyEvent === 'clicked') {
                        var message = {
                            userName: this.userName,
                            content: text,
                            timeStamp: new Date()
                        };
                        this.socket.emit('message sent', message);
                        this.message = '';
                        this.setScrollBar();
                    } else
                        return;
                };

                //helper function to set the scrollbar always ta the bottom of its height
                this.setScrollBar = () => {
                    $timeout(function() {
                        var scroller = angular.element(document).find(".chat-container")[0];
                        scroller.scrollTop = scroller.scrollHeight;
                    }, 0, false);
                };

                this.existsInColorObject = (userName) => {
                    return this.handle.colors[userName];
                };

                this.generateColorObject = () => {
                    for (let messageObject of this.handle.messages) {
                        //if a username exists, it probably already has a color, therefore, continue
                        if (this.existsInColorObject(messageObject.userName))
                            continue;
                        //username doesn't exist, set a key "their name", and a value "their generated color"
                        this.handle.colors[messageObject.userName] = '#' + Math.floor(Math.random() * 16777215).toString(16);
                    }
                };


            });
    </script>
</body>

</html>
