html,
body {
    height: 100vh;
    width: 100vw;
    overflow: auto;
    background-color:#eee;
}

.wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.chat-container,
.input-container {
    flex: 1;
}

.chat-container {
    height: 60vh;
    order: 1;
    overflow: auto;
    z-index: 1;
    word-break: break-all;
}

.input-container-test{
    order: 3;
    padding-top:10px;
}
.input-box {
    flex: 1;
    order: 1;
}
.input-box-container{
    width:100%;
}

.input-fix{
  color:black;
}
.fix-content{
  background-color:transparent;
}
.custom-list-item {
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.input-send-button {
    order: 2;
    text-align:center;
}

.notifications {
    order: 2;
}

.flex-row-nowrap {
    display: flex;
    flex-flow: row nowrap;
    order: 2;
}

.people-typing {
    height: 24px;
    justify-content: center;
    display: flex;
}

.no-radius{
  border-radius: 0;
}

.no-padding{
  padding:0;
}

.hundred{
  height:100%;
}

.custom-pill{
  padding-left:0;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.tag-custom{
background-color:#ddd;
color:black;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}
